.msgDoctorDiv{ border:0px solid #00AEAE; background:#46A3FF; color:#000}
.msgUserDiv{ border:0px solid #00AEAE; background:#F1E1FF; color:#000}
.ui-li-has-thumb .ui-btn-inner {
    min-height: 60px;
    padding-left: 60px;
}
#index ul li a{
    border-color:#FEFEFE;
}
#similiarCase ul li a{
    border-color:#FEFEFE;
}
#register ul li a{
    border-color:#FEFEFE;
}
#task ul li a{
    border-color:#FEFEFE;
}
.ui-bar-a{
    color: white;
    border: white;
}
.ui-page-theme-c{
    background:url('../images/demo0519_bj.png')
}
.image{
    width:70px;
    height:70px;
    border-radius:60px;
    border-width: 3px;
    border-color: #6cd0bf;
    vertical-align: middle;
}
#taskDoctor ul li a{
   border-color: #AAAAAA;
}
#similiarUser ul li a{
    border-color: #AAAAAA;
}